/* CORE CONFIG */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* STYLING CHANGES START HERE */
.header_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
}

.header_home {
  display: flex;
  align-items: center;
}

.header_links {
  list-style-type: none;
  display: flex;
  gap: 28px;
}

a {
  color: white;
  text-decoration: none;
}

.header_wrapper, .hero_wrapper, .footer_wrapper {
  background-color: #1f2937;
  color: white;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    
}

img {
    max-width: 50%;
    height: 50%;
}

.hero_wrapper {
  display: flex;

}
