/* CORE CONFIG */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* STYLING CHANGES START HERE */
/* Body settings */
body {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Header Stuff */
.header_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
}

.header_home {
  display: flex;
  align-items: center;
}

.header_links {
  list-style-type: none;
  display: flex;
  gap: 28px;
}

a {
  color: white;
  text-decoration: none;
}

.header_wrapper, .hero_wrapper, .footer_wrapper {
  background-color: #1f2937;
  color: white;
}
/* Hero Content Stuff */
.hero_wrapper {
  display: flex;

}

.main_heading {
  font-weight: bolder;
  font-size: 200%;
}

img {
    max-width: 50%;
    height: 50%;
    object-fit: cover;
    vertical-align: bottom;
}

button:hover {opacity: 1}
button {
  background-color: #3882f6;
  border: white;
  border-radius: 8px;
  color: white;
  padding: 16px 24px;
  height: 48px;
  width: 164px;
  text-align: center;
  font-size: 16px;
  opacity: 0.9;
  transition: 0.3s;
  cursor: pointer;
}

/* Links Section Stuff */
.card_collection {
  list-style-type: none;
  display: flex;
  
}

.link_title {
  text-align: center;
}

.image {
  border: 3px solid #3882f6;
  border-radius: 6px;
  flex-grow: 1;
}
/* Quote Section Stuff */

/* CTA Section Stuff */

/* Footer Stuff */
.footer_wrapper {
  display: flex;
  justify-content: center;
}